* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkblue;
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  font-size: 40px;
  color: black;
}
ul {
  list-style: none;
}
li {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
li:hover {
  color: black;
}
.equipe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
input {
  background-color: white;
  padding: 11px 35px;
}
